*{
    margin: 0;
}
/*linha de comando utilizamos para deixarmos nossas transicões de paginas mais suaves*/
html{
    scroll-behavior: smooth;

}
section{
    height: 100vh;
    background-color: tomato;
}
#saiba-mais{
    background-color: crimson;

}
#banner{
    background-color: tomato;
}
#sobre{
    background-color: cadetblue;
}